{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if not current_user.username %}
    <p class="alert alert-info">In order to join or create a table you should register and login</p>
{% endif %}

{% if current_user.username %}

    {#   admin page scripts   #}

    <script type="text/javascript" src="{{ url_for('static', filename='board.js') }}"></script>

    <script>
        var socket = io();
        var boards = {};

        socket.on('lobby/rooms_added', function(mes) {
            if (mes.length > 0) {
                // room_id1;room_name1;...
                console.log(arr);
                var arr = mes.split(';');
                for (var i = 0; i < arr.length; i += 2) {
                    room_id = parseInt(arr[i]);
                    room_name = arr[i + 1];
                    boards[room_id] = new Board(room_id, room_name, {{ current_user.is_admin }});
                }
            }
        });

        socket.on('lobby/pos_data', function (mes) {
            console.log('POS_DATA');
            console.log(mes);
            var arr = mes.split(';');
            if (arr.length > 1) {
                var room_id = parseInt(arr[0]);
                for (var i = 1; i < arr.length - 1; i += 2) {
                    boards[room_id].add_stone(parseInt(arr[i]), parseInt(arr[i + 1]));
                }
            }
        });

        socket.on('lobby/board_putpos', function (mes) {
            var arr = mes.split(';');
            {#var board_id = parseInt(arr[0]);#}
            {#arr = arr.slice(1, arr.length() - 1);#}
            if (arr.length > 1) {
                var room_id = parseInt(arr[0]);
                n = boards[room_id].CNT;
                for (i = 0; i < n; i++) {
                    boards[room_id].undo();
                }
                for (i = 1; i < arr.length - 1; i += 2) {
                    boards[room_id].add_stone(parseInt(arr[i]), parseInt(arr[i + 1]));
                }
            }
        });

        socket.on('lobby/board_event', function (mes) {
            var arr = mes.split(';');
            var board_id = parseInt(arr[0]);
            var info = arr;
            info = info.slice(1, info.length);
            if (info[0] === 'undo') {
                boards[board_id].undo();
            }
            else {
                if (info.length === 3) {
                    i = parseInt(info[1]);
                    j = parseInt(info[2]);
                    if (info[0] === "add_stone") {
                        boards[board_id].add_stone(i, j);
                    }
                    else if (info[0] === 'undo_until') {
                        boards[board_id].undo_until(i, j);
                    }
                }
            }
        });

        socket.on('lobby/user_event', function (mes) {
            var arr = mes.split(';');
            var board_id = parseInt(arr[0]);
            if (arr[1].slice(0, 4) === 'new:') {
                boards[board_id].add_user(board_id, arr[1].slice(4));
            }
            else if (arr[1].slice(0, 6) === 'leave:') {
                boards[board_id].remove_user(board_id, arr[1].slice(6));
            }
        });

        socket.on('lobby/room_deleted', function(mes) {
            var room_id = parseInt(mes);
            $('#room_box_' + room_id).remove();
        });

        $(document).ready(function() {
            $('#create_room_btn').click(function () {
                var room_name = $('#room_name_field')[0].value;
                var users_list = [];
                var radios = $(':checkbox');
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].checked) {
                        users_list.push(radios[i].id.slice('choose_user_'.length))
                    }
                }
                socket.emit('lobby/create_room', [room_name, users_list]);
            });
        });

        socket.emit('lobby/watching_lobby', create_mes('join'));
    </script>

    <div id="content">
        {% if current_user.is_admin %}
            <div id="left_panel_index">
                <div class="add_table_form">
                <h1 style="font-size: 20px; text-align: center">Add table</h1>
                <br>
                <div class="panel panel-default">
                    <input type="text" class="form-control" id="room_name_field">
                        <div id="users_choce">
                            <input style="display: inline-block "type="checkbox" id="choose_user_0" >
                            <p style="display: inline-block;" class="username_choce">All</p>
                            <br>
                            {% for user in users %}
                                <input style="display: inline-block "type="checkbox" id="choose_user_{{ user.id }}">
                                <p class="username_choce" style="display: inline-block;">{{ user.username }}</p>
                                <br>
                            {% endfor %}
                        </div>
                    <button id="create_room_btn" style="width: 100px; height: 50px">Create room</button>
                </div>
                </div>
            </div>
        {% endif %}

        <div id="rooms">

        </div>
    </div>

{% endif %}


<div style="display:none;">
    <img id="white_stone" src="{{ url_for('static', filename = 'w_succ.png') }}" width="500" height="500" />
    <img id="black_stone" src="{{ url_for('static', filename = 'b_succ.png') }}" width="500" height="500" />
    <img id="background" src="{{ url_for('static', filename = 'lightwoodbackground.jpg') }}" width="500" height="500" />
</div>



{% endblock %}